<section class="l-body">
  @if (
    projects().length === 0 &&
    activeOrganization() === undefined &&
    orgServiceInitialLoad()
  ) {
    <mat-card>
      <mat-card-content>
        <p class="body-text" i18n
          >GlitchTip을 사용하려면 조직을 만들어야 합니다.</p
        >
        <a
          mat-flat-button
          color="primary"
          [routerLink]="['/organizations', 'new']"
          i18n
          >새 조직 만들기</a
        >
      </mat-card-content>
    </mat-card>
  }
  @for (organization of orgsAndProjects(); track organization.id) {
    @if (
      !activeOrgOnly ||
      (activeOrgOnly && organization.id === activeOrganization()?.id)
    ) {
      <section class="org-projects-section">
        <header class="projects-section-header">
          <h2 class="section-header-text">
            {{ activeOrgOnly ? "Projects" : organization.name }}
          </h2>
          <a
            mat-stroked-button
            [routerLink]="[
              '/',
              organization.slug,
              'settings',
              'projects',
              'new',
            ]"
            [disabled]="!accessProjectWrite()"
            class="new-project-button"
            i18n
            >Create new project in {{ organization.name }}
          </a>
        </header>
        @if (organization.projects.length === 0) {
          <gt-empty-projects
            [activeOrgOnly]="activeOrgOnly"
          ></gt-empty-projects>
        }
        <div>
          <div class="project-card-wrapper">
            @for (project of organization.projects; track project) {
              <gt-project-card
                [cardLink]="['/', project.organization.slug, 'issues']"
                [cardLinkQueryParams]="{ project: project.id }"
                [title]="project.name"
                [descriptionList]="[
                  { key: 'organization', value: project.organization.name },
                  { key: 'date created', value: (project.dateCreated | date)! },
                ]"
                [isMember]="project.isMember"
                [primaryButton]="{
                  text: 'Issues',
                  icon: 'warning',
                  query: { project: project.id },
                  link: [project.organization.slug, 'issues'],
                }"
                [secondaryButton]="{
                  text: 'Settings',
                  icon: 'settings',
                  link: [
                    '/',
                    project.organization.slug,
                    'settings',
                    'projects',
                    project.slug,
                  ],
                }"
              ></gt-project-card>
            }
          </div>
        </div>
      </section>
    }
  }
</section>
