<div class="margin-set">
  <h1 class="header-left" i18n>보안 키로 로그인</h1>
  <div class="instructions" i18n
    >Plug in your security key and follow the prompt from your browser to finish
    logging in.</div
  >
  @if (authInProg) {
    <div class="progress-bar">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  } @else {
    <div class="auth-button">
      <button mat-flat-button color="primary" (click)="retryAuth()" i18n
        >Retry</button
      >
    </div>
  }
  <!-- <mat-checkbox class="remember-me-checkbox caption-text" (change)="toggleRemember($event.checked)">Don't prompt again on
    this device</mat-checkbox> -->
  <div>
    <a [routerLink]="[]" (click)="switchMethod()" i18n
      >인증 앱으로 대신 로그인</a
    >
  </div>
  <div>
    <a [routerLink]="[]" (click)="restartLogin()" i18n
      >초기 로그인 페이지로 돌아가기</a
    >
  </div>
</div>
