<h1 mat-dialog-title i18n>새 팀 만들기</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()" id="create-team-form">
  <mat-dialog-content class="mat-typography">
    <p class="description" i18n
      >Your team slug can only consist of letters, numbers, underscores and/or
      hyphens.</p
    >
    <mat-error class="error caption-text">
      @for (error of errors(); track error) {
        <span>{{ error }}</span>
      }
    </mat-error>
    <mat-form-field appearance="outline">
      <mat-label>Slug</mat-label>
      <input matInput gtSlugify formControlName="slug" />
      @if (slug?.errors?.required) {
        <mat-error>
          <span i18n>팀을 생성하려면 유효한 슬러그를 입력하세요</span>
        </mat-error>
      }
      @if (slug?.errors?.pattern) {
        <mat-error>
          <span i18n
            >문자, 숫자, 밑줄(_) 및/또는 하이픈(-)만 사용하세요</span
          >
        </mat-error>
      }
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions>
    <gt-loading-button
      id="create-team-submit"
      buttonText="Create Team"
      [loading]="loading()"
    >
    </gt-loading-button>
    <button type="button" mat-button (click)="closeDialog()" i18n
      >Cancel</button
    >
  </mat-dialog-actions>
</form>
