@if ((isLoggedIn()) === false) {
  <div class="logo-container">
    <img src="static/assets/images/glitchtip-logo-v1.svg" alt="GlitchTip" />
  </div>
}

<mat-card
  [class.skinnier]="(isLoggedIn()) === false"
  [class.not-skinny]="isLoggedIn()"
>
  @if (acceptInfo(); as acceptInfo) {
    <mat-card-content>
      <mat-card-title i18n>조직 초대</mat-card-title>
      <p i18n
        >조직에 초대되었습니다<strong>
          {{ acceptInfo.orgUser.organization.name }}
        </strong>
        so you can keep track of errors.</p
      >
      @if (alreadyInOrg()) {
        <p i18n
          >The account you're logged into is already a part of this
          organization. You might want to
          <a (click)="logout()" href="javascript:void(0)">로그아웃</a>, then
          create an account for or log into the account that this invite link
          was intended for.</p
        >
      }
      @if (isLoggedIn()) {
        @if ((alreadyInOrg()) === false) {
          <button mat-flat-button color="primary" (click)="onSubmit()" i18n
            >초대 수락</button
          >
        }
      } @else {
        <p i18n
          >To continue, you must either log in to your existing account, or
          create a new one.</p
        >
        <div class="button-container">
          <a
            mat-flat-button
            color="primary"
            [routerLink]="['/register']"
            [queryParams]="{ next: nextUrl() }"
            i18n
            >새 계정 만들기</a
          >
          <a
            mat-stroked-button
            [routerLink]="['/login']"
            [queryParams]="{ next: nextUrl() }"
            i18n
            >기존 계정으로 로그인</a
          >
        </div>
      }
    </mat-card-content>
  }
</mat-card>
